@import url('https://fonts.googleapis.com/css?family=Protest Strike');

* {
  padding: 0;
  margin: 0;
  font-family: 'Protest Strike', monospace;
  text-transform: capitalize;
  text-decoration: none;
}

/*Navigation bar*/
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #2e38be;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li {
  display: inline-block;
  position: relative;
}

header .navbar ul li a {
  display: block;
  padding: 20px 25px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

header .navbar ul li ul {
  width: 200px;
  background: #2e38be;
  position: absolute;
  display: none;
}

header .navbar ul li ul li{
  width: 100%;
}

header .navbar ul li a:hover {
  background: #f8fa81;
  color: black;
}

header .navbar ul li:hover ul {
  display: block;
}

header .navbar .active{
  background: rgb(141, 37, 37);
}

#searchbar {
  width: 500px;
  font-size: 20px;
  background:#a8b5ff;
  color: rgb(0, 0, 0);
}

/*Body*/
body{
    background-image: url("Assets/BG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    margin: 30px;
}

.modules{
  margin-top: 100px;
  background: #2d3b8a;

  color: white;
  font-size: 20px;
  padding: 20px 20px;
}

button{
    border: 5px solid;
    border-radius: 15px;

    background-color: midnightblue;
    color: gold;

    font-size: 25px;
    text-align: center;

    width: 200px;
    height: 200px;
    padding: 5px;
}

#main-body {
  position: fixed;
  padding: 100px;
  /* background-color: #2d3b8a; */

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px 20px;
  justify-content: flex-start;

  z-index: -1;
  left: 250px; right: 0px; bottom: 20px; top: 60px;
}

/* SIDE BAR */

#lblfilter {
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
}

#sidebar {
  width: 200px;
  background-color: #4750ce;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.filter {
  background:#a8b5ff;
}

/*Footer*/
footer{
    position: fixed;
    bottom: 0;
    margin: 0;

}

.Disclaimer{
    color: black;
}
